@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins';
    width: 400px;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
}

.container {
    padding: 20px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

input {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #000;
}

button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #1DB954;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #1ed760;
}

.suggestions {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 100px;
    overflow: auto;
    position: relative;
    z-index: 1;
    color: white;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #555;
}

#lyricsBox {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    white-space: pre-wrap;
    text-align: left;
}

#error {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#savedLyricsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

#savedLyricsContainer h2 {
    margin-top: 0;
}

#savedLyricsList {
    margin-bottom: 10px;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode input, 
.dark-mode button {
    background-color: #444;
    border-color: #555;
    color: white;
}

.dark-mode .suggestions {
    background-color: #444;
    color: white;
}
/* body {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#lyrics {
    margin-top: 20px;
    white-space: pre-wrap;
}

#error {
    color: red;
    margin-top: 10px;
} */